* {
    margin: 10px 10px 10px 10px;
    padding: 20 20 20 20;
    line-height: 2;
}

address{
    background-color: #F9FAFC;
    width: 300px;
    padding: 30px 80px;
    margin: 40px;
    margin-left: 40px;
    border: 1px solid #CAC7C7;
    display: block;
}  

#conth{
    font-size: 18px;
}

#linkeb{
    background-color: #28A5FF;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 15px;
    font-size: 13px;
    margin-top: 14.9px;
    height: 26px;
    width: 98px;
    text-decoration: none;
}

#linkd2{
    display: flex;
}